# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Build output
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de caché
.cache/
